/* Start Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* End Font*/

/* Start Body */
body {
background-color: darksalmon;
color: black;
font-family: Roboto, Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 1.5em;
margin: 50px;
padding: 0;
}
/* End Body */

/* Start Debug */
.bg-violet{
 background-color:violet;   
}
.bg-blueviolet{
    background-color: blueviolet;   
   }
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hiperlink */
a:link,
a:visited {
    color: #0366d6;
    text-decoration: none;

}
a:hover,
a:active{
    color: #000000;
    text-decoration: underline; 
}

/* End Anchor / Hiperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: burlywood;
    border-radius: 4px;
    box-shadow: 
    0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12);
}

.menu-primer li {
    border-right: 1px solid #d1d5da;
    display: inline-block; 
    margin: 0 -4px;
}

.menu-primer a {
  color: #ffffff;
  font-size: 13px;
  display: inline-block;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.menu-primer a:hoper {
    background-color: #f7f7f7f7;
    color: #000000;
    text-decoration: none;
}

.menu-primer .active{
    background-color: #fff;
    color: #333333;
    text-decoration: none;
}
/* End Menu Primer */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: #f0e7c0;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px; 
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px; 
    padding: 0 20px;
}
/* End Jumbotron */

/* Start Main */
.main-home-one {
    float: left;
    width: 100%;
}

.main-home-two {
    float: left;
    width: 100%;
}
.main-home-three {
    float: left;
    width: 100%;
}
.main-home-four {
    float: left;
    width: 100%;
}
/* End Main */

/* Start Box */
.box-heading {
    background-color: burlywood;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 1px 2px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: cornsilk;
}
/* End Box */

/* Start Menu Sekunder */
.menu-sekunder {
    background-color: #f6f8fa;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: none;
}
.menu-sekunder li a,
.menu-sekunder li p {
    font-size: 15px;
}
.menu-sekunder-one, 
.menu-sekunder-two, 
.menu-sekunder-three {
    float: left;
} 
.menu-skunder-one {
    width: 30%;
}
.menu-sekunder-two, 
.menu-sekunder-three {
    width: 35%;
} 
.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder */

/* Start Copyright */
.copyright p {
    font-size: 15px;
}
/* End Copyright */



/* Start Paket */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
.snip1552 {
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 600px;
  max-width: 600px;
  width: 100%;
  color: #000000;
  text-align: left;
  font-size: 15px;
  background-color: #fff;
}

.snip1552 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1552 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1552 figcaption {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  z-index: 1;
  bottom: 0;
}

.snip1552 h3,
.snip1552 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1552 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5px;
}

.snip1552 p {
  font-weight: normal;
  font-style: italic;
  color: #888;
  font-size: 0.9em;
  padding-left: 15px;
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
}

.snip1552 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1552:hover > img,
.snip1552.hover > img {
  opacity: 0.1;
}

.snip1552:hover h3,
.snip1552.hover h3,
.snip1552:hover p,
.snip1552.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}


/* Demo purposes only */

body {
  text-align: center;
}
/* End Paket */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width 768px) {
  /* For mobile phones: */
 {width: 100%;} 


}